@import "tailwindcss";

.custom-container {
  max-width: 1280px;   /* same as Tailwind container xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;   /* 20px */
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .custom-container {
    padding-left: 2.5rem;  /* 40px */
    padding-right: 2.5rem;
  }
}
